@page "create-task"
@model Tasker.Pages.CreateTaskModel
@{
}
<h1>New Task</h1>
<form asp-page="CreateTask" method="post">
    <label text="Title" asp-for="NewTask.Title"></label>
    <input type="text" asp-for="NewTask.Title" />

    <label text="Description" asp-for="NewTask.Description"></label>
    <input type="text" asp-for="NewTask.Description" />

    <label text="Priority" asp-for="NewTask.Priority"></label>
    <input type="text" asp-for="NewTask.Priority" />

    <input type="submit"/>
</form>